<div class="reign-sheet-root">
  {{> "systems/reign/templates/actor/parts/header.hbs"}}
  {{> "systems/reign/templates/actor/parts/tabs.hbs"}}
  
  <section class="sheet-body">
    {{> "systems/reign/templates/actor/parts/tab-stats.hbs"}}
    {{> "systems/reign/templates/actor/parts/tab-combat.hbs"}}
    {{> "systems/reign/templates/actor/parts/tab-esoterica.hbs"}}
    {{> "systems/reign/templates/actor/parts/tab-biography.hbs"}}
    {{> "systems/reign/templates/actor/parts/tab-effects.hbs"}}
  </section>
</div>