<form class="reign-dialog-form">
  <div class="form-group reign-text-center reign-mb-medium">
    <label>Your Current Wealth</label>
    <div class="reign-wealth-display">{{currentWealth}}</div>
  </div>
  <div class="form-group">
    <label>Cost of the Item you want to buy (1-10):</label>
    <input type="number" name="cost" value="1" min="1" max="10"/>
  </div>
</form>
